<!--PAGINA DE INICIO O CREACION DE CUENTA PACIENTE-->
{% extends "conexiones.html" %}

{% block content %}
    <body id='container_menu_paciente'>
        <div class="row">
            <div class="col">
                <!--NADA/NO BORRAR-->
            </div>
            <br>
            <div id="botones_menu_pacientes" class="col-5"> 
                <div class="d-grid gap-4 col-7 mx-auto" >
                    <br>
                        <button id="crear_o_iniciar" class="btn btn-success"  type="button"><a href="/iniciar_sesion_p" id="crear_o_iniciar">INICIAR SESION</a></button>
                        <button id="crear_o_iniciar" class="btn btn-success"  type="button"><a href="/registrar_p" id="crear_o_iniciar">REGISTRAR</a></button>
                    <br>
                </div>
            </div>
            <div class="col">
                <!--NADA/NO BORRAR-->
            </div>
        </div>
    </body>
{% endblock content %}