{% extends "conexiones.html" %}

{% block content %}
<body>
    <figure id="head_medico">
        <div class="container" >
            <div class="row">
                <div id="primer_columna" class="col text-center">
                    <figure>
                        <a href="/">
                            <img id="icon_medico" src="static/img/user_icon.png" alt="user_icono">
                        </a>
                    </figure>
                    <h4 id="titulo_admi"class="text-center">MIS DATOS</h4>
                </div>
            </div>
        </div>
    </figure>
    <!--ACA EMPIZA LA MUESTRA DE DATOS-->
    <div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="p-3">
                       <p id="texto_mis_datos"> NOMBRE Y APELLIDO:</p> 
                       {{nombre_usuario_actual}}  {{apellido_usuario_actual}}
                    </div>
                </div>
                <div class="col">
                   
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="p-3">
                        <p id="texto_mis_datos"> DNI: </p> 
                        {{dni_usuario_actual}}
                    </div>
                </div>
                <div class="col">
                    <div class="p-3">
                       <p id="texto_mis_datos"> CORREO: </p>
                       <p>{{mail_usuario_actual}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="p-3"> 
                       <p id="texto_mis_datos"> OBRA_SOCIAL:</p> 
                       {{obra_social_usuario}}
                    </div>
                </div>
                <div class="col">
                    <div class="p-3">
                        <p id="texto_mis_datos">NUMERO AFILIADO:</p> 
                        {{afiliado_usuario_actual}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tabla_lista" class="container">
        <h2 id="titulo_seleccionar_hora" class="">LISTA DE TURNOS</h2>
        <table class="table">
          <tbody>
              {% if turnos %}
                    {% for turno in turnos %}
                        <p>{{ turno.fecha }} - {{ turno.hora }} - {{ turno.motivo }}</p>
                    {% endfor %}
              {% else %}
                  <p>No hay turnos asignados.</p>
              {% endif %}
        </table>
      </div>
</body>
{% endblock content %}